body {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: smaller;
    text-align: justify;
    text-align: -webkit-justify;
    text-align: -moz-justify;
    text-align: -ms-justify;
    text-align: -o-justify;
}

h1 {
    font-size:xx-large;
}

h2 {
    margin-top: 5%;
    font-size: medium;
    font-weight: lighter;
}

h4 {
    margin-top: -2%;
    margin-bottom: 4%;
    font-weight: 100;
    font-size: x-small;
    font-style: italic;
}

img{
    width: 5%;
    margin-right: 2%;  
}

button {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-weight: 100;
    font-size: small;
    list-style: none;
    margin: 0 0 10% 0;
    padding: 10px 12px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

button:hover {
    background-color: rgba(51, 51, 51, 0.207);
    transition: 0.3s;
}
a {
    font-size: small;
}

a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.btn-clicked{
    background-color:rgba(51, 51, 51, 0);
    border-color: black;
    border-width: 2px;
    transition: 0.3s;
}
.btn-clicked:hover{
    background-color:rgba(51, 51, 51, 0);
    transition: 0.3s;
}

.container {
    margin: 20% auto;
    max-width: 60%;
    display: flex;
}

.text-content {
    margin: 0 0 0 30%;
    justify-content: center;
    grid-area: text-content;
    overflow: visible; 
}

.nav {
    margin-top: 2%;
    position: fixed;
    grid-area: nav;
}